
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #e3f2fd, #f8faff);
  min-height: 100vh;
}


.container {
  width: 85%;
  margin: 30px auto;
  padding-bottom: 40px;
  text-align: center;
}

.container h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #1a237e;
}


.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 18px;
  margin: 25px auto;         
  width: 80%;                 
  max-width: 450px;          
  text-align: center;         

  box-shadow: 
    8px 8px 20px rgba(0,0,0,0.15),
    -6px -6px 18px rgba(255,255,255,0.7);
  transition: 0.35s ease;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #1a237e;
}

.card p {
  margin: 8px 0;
  font-size: 15px;
  color: #333;
}

.card:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 
    12px 12px 28px rgba(0,0,0,0.2),
    -8px -8px 22px rgba(135, 144, 247, 0.7);
}


button {
  margin-top: 18px;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(135deg, #006eff, #0050cc);
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.07);
  background: linear-gradient(135deg, #0054d6, #003fa7);
}


.back-btn {
  background: linear-gradient(135deg, #333, #111);
}
.back-btn:hover {
  background: linear-gradient(135deg, #222, #000);
}
